*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Sans-serif;
}

h3{
    color:brown;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 14px;
}

h4{
    color:blueviolet;
    text-align: center;
    margin-top: 5px;
    font-weight: 400;
}
